*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
    auto 1fr auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 3em 0 ;

    img{
        width: 5em;
    }
    div{
        text-align: center;
        #title {
            font-size: 2em;
            font-weight: 600;
        }
        #subtitle{
            font-size: 1.5em;
        }
    }
    span{
        font-size: 1em;
        font-weight: 600;
    }
}

footer{
    text-align: center;
    color: grey;

    padding: 3%;
}

main{
    display: grid;
    grid-template-rows: auto 1fr ;
    text-align: center;

    .controls{
        margin: 0 auto;

        text-align: center;

        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;

            
            #btn-form{
                max-inline-size: fit-content;
            }
        }
    }

    .viewer {
        
        div {
            margin-top: 2em;
        }

        #info-content{
            p{
                margin: 0 2em!important;
            }
            
        }
    }
}

#img-style{
    max-width:300px;
}